th, td{
    padding: 1rem;
}

.table-container{
    max-width: 50rem;
    margin: 0 auto;
}

button{
    font-size: 1rem;
    background: none;
    border: none;
}

button:hover{
    color: blue;
    text-decoration: underline;
    cursor:pointer;
}