<div class="table-card">
    <button (click)="onHideTable()">&#8592; Back</button>
    <div class="table-container">
        @for (day of menuResults; track day.day) {
            <h2>{{day.day}}</h2>
            <div id="table-head" class="table-row table-head">
                <div class="table-cell">Serving</div>
                <div class="table-cell">Meal</div>
                <div class="table-cell">Ingredients</div>
                <div class="table-cell">Calories</div>
                <div class="table-cell">Carbs</div>
                <div class="table-cell">Proteins</div>
                <div class="table-cell">Fats</div>
            </div>
            @for (result of day.data; track result.serving) {
                <div class="table-row">
                    <div class="table-cell">{{ result.serving }}</div>
                    <div class="table-cell"><span>Meal: </span>{{ result.meal }}</div>
                    <div class="table-cell"><span>Ingredients: </span>{{ result.ingredients }}</div>
                    <div class="table-cell"><span>Calories: </span>{{ result.calories }}</div>
                    <div class="table-cell"><span>Carbs: </span>{{ result.carbs }} <span>g</span></div>
                    <div class="table-cell"><span>Proteins: </span>{{ result.proteins }} <span>g</span></div>
                    <div class="table-cell"><span>Fats: </span>{{ result.fats }} <span>g</span></div>
                </div>
            }
        }
    </div>
    <button (click)="onHideTable()">&#8592; Back</button>
</div>