<div class="table-container">
    <button (click)="onHideTable()">&#8592; Back</button>
    @for (day of menuResults; track day.day) {
        <h2>{{day.day}}</h2>
        <table>
            <thead>
                <tr>
                    <th>Serving</th>
                    <th>Meal</th>
                    <th>Ingredients</th>
                    <th>Calories</th>
                    <th>Carbs</th>
                    <th>Proteins</th>
                    <th>Fats</th>
                </tr>
            </thead>
            <tbody>
                @for (result of day.data; track result.serving) {
                    <tr>
                        <td>{{ result.serving }}</td>
                        <td>{{ result.meal }}</td>
                        <td>{{ result.ingredients }}</td>
                        <td>{{ result.calories }}</td>
                        <td>{{ result.carbs }}</td>
                        <td>{{ result.proteins }}</td>
                        <td>{{ result.fats }}</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    <button (click)="onHideTable()">&#8592; Back</button>
</div>